#uploader,
#editor {
    display: block;
    padding: 30px;
}

.settings {

}






.settings .option {
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.settings .option > input[type=radio],
.settings .option > input[type=checkbox] {
    margin-right: 10px;
}

.settings .option > label {
    margin-right: 10px;
}


.crop-selector {
    display: inline-flex;
    border: none;
    border-radius: 5px;
    overflow: hidden;
}

.crop-selector .aspect-ratio {
    display: none;
}

.crop-selector label {
    display: block;
    background-color: #007bff;
    flex: 0 0 auto;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
}

.crop-selector .aspect-ratio:checked + label {
    background-color: #0062cc;
}

.note {
    font-size: 0.8em;
    color: #818181;
    margin-left: 10px;
}

#option--max-files {
    width: 60px;
}






.result {
    display: block;
    background-color: #f3f1f2;
    flex: 1 1 auto;
    margin: 30px 0px 0px 0px;
    padding: 15px;
    border: 1px solid #cecece;
    border-radius: 10px;
    overflow: auto;
}

.result .string { color: green; }
.result .number { color: darkorange; }
.result .boolean { color: blue; }
.result .null { color: magenta; }
.result .key { color: red; }




@media only screen and (min-width: 992px) {
    #uploader,
    #editor {
        display: flex;
    }

    .settings {
        flex: 0 0 400px;
    }

    .result {
        flex: 1 1 auto;
        margin-top: 0px;
    }
}
