/*
 *    Buttons
 */

.booklet-uploader .bu--button {
    display: inline-block;
    background-color: transparent;
    width: 100%;
    max-width: 160px;
    font-family: 'OpenSans Bold';
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    color: #c1c1c1;
    margin: 0px 0px 0px 0px;
    padding: 15px;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.booklet-uploader .bu--button:hover {
    color: #a1a1a1;
    border: 1px solid #a1a1a1;
}

.booklet-uploader .bu--button.bu--button-primary {
    background-color: #d80e24;
    color: #ffffff;
    padding: 16px;
    border: none;
}

.booklet-uploader .bu--button.bu--button-primary:hover {
    background-color: #c00c21;
    color: #ffffff;
    border: none;
}

.booklet-uploader .bu--button.bu--button-outline {
    color: #d80e24;
    border: 1px solid #d80e24;
}

.booklet-uploader .bu--button.bu--button-outline:hover {
    color: #c00c21;
    border: 1px solid #c00c21;
}

.booklet-uploader .bu--button.bu--button-disabled {
    background-color: #cecece;
    color: #ffffff;
    margin: 0px 0px 0px 0px;
    padding: 16px;
    border: none;
    cursor: default;
}

.booklet-uploader .bu--button.bu--button-disabled:hover {
    background-color: #cecece;
    color: #ffffff;
    border: none;
}


.booklet-uploader .bu--button.bu--button-outline.bu--button-disabled,
.booklet-uploader .bu--button.bu--button-outline.bu--button-disabled:hover {
    color: #cecece;
    border: 1px solid #cecece;
    cursor: default;
}

/*
 *    Loader
 */

.booklet-uploader .bu--loader {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
}

.booklet-uploader .bu--loader:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border-top: 2px solid #D80E24;
    border-right: 2px solid transparent;
    animation: booklet-uploader-spinner .6s linear infinite;
}

.booklet-uploader .bu--loader.sm,
.booklet-uploader .bu--loader.bu--loader-size-sm {
    width: 30px;
    height: 30px;
}

.booklet-uploader .bu--loader.sm:before,
.booklet-uploader .bu--loader.bu--loader-size-sm::before {
    margin-top: -15px;
    margin-left: -15px;
    border-top: 3px solid #D80E24;
    border-right: 3px solid transparent;
}

.booklet-uploader .bu--loader.md,
.booklet-uploader .bu--loader.bu--loader-size-md {
    width: 40px;
    height: 40px;
}

.booklet-uploader .bu--loader.md:before,
.booklet-uploader .bu--loader.bu--loader-size-md::before {
    margin-top: -20px;
    margin-left: -20px;
    border-top: 3px solid #D80E24;
    border-right: 3px solid transparent;
}

.booklet-uploader .bu--loader.lg,
.booklet-uploader .bu--loader.bu--loader-size-lg {
    width: 60px;
    height: 60px;
}

.booklet-uploader .bu--loader.lg:before,
.booklet-uploader .bu--loader.bu--loader-size-lg::before {
    margin-top: -30px;
    margin-left: -30px;
    border-top: 4px solid #D80E24;
    border-right: 4px solid transparent;
}

.booklet-uploader .bu--loader.xl,
.booklet-uploader .bu--loader.bu--loader-size-xl {
    width: 100px;
    height: 100px;
}

.booklet-uploader .bu--loader.xl:before,
.booklet-uploader .bu--loader.bu--loader-size-xl::before {
    margin-top: -50px;
    margin-left: -50px;
    border-top: 6px solid #D80E24;
    border-right: 6px solid transparent;
}

@keyframes booklet-uploader-spinner {
    to { transform: rotate(360deg); }
}


.booklet-uploader.bu--panel {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    font-family: 'OpenSans';
}

.booklet-uploader.bu--panel .bu--panel-container {
    display: flex;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 0px 15px;
    border: none;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

.booklet-uploader.bu--panel .bu--panel-container .bu--panel-header {
    display: block;
    background-color: #ffffff;
    position: relative;
    flex: 0 0 auto;
    font-family: 'OpenSans Bold';
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    padding: 25px 0px;
    border-bottom: 1px solid #f3f1f2;
    overflow: hidden;
}

.booklet-uploader.bu--panel .bu--panel-container .bu--panel-body {
    display: flex;
    position: relative;
    width: 100%;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 10px 0px;
    overflow: hidden;
}

.booklet-uploader.bu--panel .bu--panel-container .bu--panel-footer {
    display: block;
    background-color: #ffffff;
    flex: 0 0 auto;
    padding: 0px;
    border-top: 1px solid #f3f1f2;
    overflow: hidden;
}

.booklet-uploader.bu--panel .bu--panel-container .bu--panel-footer .bu--footer-nav {
    display: flex;
    position: relative;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px -15px;
    padding: 0px;
}

.booklet-uploader.bu--panel .bu--panel-container .bu--panel-footer .bu--footer-nav .bu--footer-nav_left,
.booklet-uploader.bu--panel .bu--panel-container .bu--panel-footer .bu--footer-nav .bu--footer-nav_center,
.booklet-uploader.bu--panel .bu--panel-container .bu--panel-footer .bu--footer-nav .bu--footer-nav_right {
    display: block;
    padding: 15px;
}

.booklet-uploader.bu--panel .bu--panel-container .bu--panel-footer .bu--footer-nav .bu--footer-nav_left {
    flex: 0 0 50%;
    order: 2;
    max-width: 50%;
}

.booklet-uploader.bu--panel .bu--panel-container .bu--panel-footer .bu--footer-nav .bu--footer-nav_center {
    flex: 0 0 100%;
    order: 1;
    max-width: 100%;
    text-align: center;
}

.booklet-uploader.bu--panel.bu--panel-uploader .bu--panel-container .bu--panel-footer .bu--footer-nav .bu--footer-nav_center {
    padding: 0px;
}

.booklet-uploader.bu--panel .bu--panel-container .bu--panel-footer .bu--footer-nav .bu--footer-nav_right {
    flex: 0 0 50%;
    order: 3;
    max-width: 50%;
    text-align: right;
}

.booklet-uploader.bu--panel .bu--panel-error {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24px;
    color: #d80e24;
    transform: translate(-50%, -50%);
}





@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 768px) {
    .booklet-uploader.bu--panel .bu--panel-container {
        width: 90vw;
        height: 90vh;
        max-width: 900px;
        max-height: 700px;
        padding: 0px 30px;
        border-radius: 10px;
    }

    .booklet-uploader.bu--panel.bu--panel-small .bu--panel-container {
        max-width: 700px;
    }

    .booklet-uploader.bu--panel .bu--panel-container .bu--panel-header {
        font-size: 24px;
    }

    .booklet-uploader.bu--panel .bu--panel-container .bu--panel-body {
        padding: 15px 0px;
    }

    .booklet-uploader.bu--panel .bu--panel-container .bu--panel-footer .bu--footer-nav .bu--footer-nav_left {
        flex: 0 0 180px;
        order: 1;
        max-width: 180px;
    }

    .booklet-uploader.bu--panel .bu--panel-container .bu--panel-footer .bu--footer-nav .bu--footer-nav_center {
        flex: 1 1 auto;
        order: 2;
    }

    .booklet-uploader.bu--panel .bu--panel-container .bu--panel-footer .bu--footer-nav .bu--footer-nav_right {
        flex: 0 0 180px;
        order: 3;
        max-width: 180px;
    }
}

@media only screen and (min-width: 992px) {
    .booklet-uploader.bu--panel .bu--panel-container .bu--panel-footer .bu--footer-nav .bu--footer-nav_left,
    .booklet-uploader.bu--panel .bu--panel-container .bu--panel-footer .bu--footer-nav .bu--footer-nav_right {
        flex: 0 0 220px;
        max-width: 220px;
    }
}

@media only screen and (min-width: 1200px) {

}


/*
 *    Uploader
 */

#bu--files-picker {
    display: none !important;
}

.booklet-uploader.bu--panel.bu--panel-uploader .bu--uploader-header {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.booklet-uploader.bu--panel.bu--panel-uploader .bu--select-files {
    max-width: 320px;
    padding: 15px 0px;
    margin: 0px;
}

.booklet-uploader.bu--panel.bu--panel-uploader .bu--max-file-size-info {
    font-family: 'OpenSans Bold';
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    color: #919191;
    margin: 8px 0px;
}

.booklet-uploader.bu--panel.bu--panel-uploader .bu--uploads-list {
    display: block;
    position: relative;
    max-width: 100%;
    flex: 1 1 auto;
    list-style-type: none;
    margin: 0px;
    padding: 2px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.booklet-uploader.bu--panel.bu--panel-uploader.bu--dragin .bu--uploads-list {
    background-color: #f1f1f1;
    padding: 0px;
    border: 2px dashed #157cfc;
}

.booklet-uploader.bu--panel.bu--panel-uploader .bu--uploads-list .bu--upload {
    display: flex;
    background-color: transparent;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px 0px;
    margin: 0px;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    cursor: default;
    transition: background-color 0.2s;
}

.booklet-uploader.bu--panel.bu--panel-uploader .bu--uploads-list .bu--upload:hover {
    background-color: #f9f7f8;
}

.booklet-uploader.bu--panel.bu--panel-uploader.bu--dragin .bu--uploads-list .bu--upload,
.booklet-uploader.bu--panel.bu--panel-uploader.bu--dragin .bu--uploads-list .bu--upload:hover {
    background-color: transparent;
}

.booklet-uploader.bu--panel.bu--panel-uploader .bu--uploads-list .bu--upload:last-child {
    border-bottom: none;
}

.booklet-uploader.bu--panel.bu--panel-uploader .bu--uploads-list .bu--upload .bu--upload-preview {
    display: flex;
    background-color: #e9e7e8;
    position: relative;
    height: 60px;
    flex: 0 0 60px;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 10px;
    padding: 0px;
    border: 1px solid #e9e7e8;
    border-radius: 5px;
    overflow: hidden;
    transition: background-color 0.2s;
}

.booklet-uploader.bu--panel.bu--panel-uploader .bu--uploads-list .bu--upload.uploaded .bu--upload-preview {
    background-color: transparent;
}

.booklet-uploader.bu--panel.bu--panel-uploader .bu--uploads-list .bu--upload .bu--upload-preview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.booklet-uploader.bu--panel.bu--panel-uploader .bu--uploads-list .bu--upload.uploaded .bu--upload-preview .bu--loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.booklet-uploader.bu--panel.bu--panel-uploader .bu--uploads-list .bu--upload .bu--upload-details {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px 10px;
    overflow: hidden;
}

.booklet-uploader.bu--panel.bu--panel-uploader .bu--uploads-list .bu--upload .bu--upload-details .bu--file-name {
    max-width: calc(100% - 54px);
    flex: 0 0 calc(100% - 54px);
    font-family: 'OpenSans Bold';
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #5c5c5c;
    padding: 6px 0px;
    overflow: hidden;
}

.booklet-uploader.bu--panel.bu--panel-uploader .bu--uploads-list .bu--upload .bu--upload-details .bu--file-size {
    display: flex;
    max-width: 54px;
    flex: 0 0 54px;
    justify-content: flex-end;
    align-items: center;
    font-family: 'OpenSans Bold';
    font-size: 12px;
    white-space: nowrap;
    color: #a3a1a2;
}

.booklet-uploader.bu--panel.bu--panel-uploader .bu--uploads-list .bu--upload .bu--upload-details .bu--upload-progress {
    flex: 0 0 100%;
}

.booklet-uploader.bu--panel.bu--panel-uploader .bu--uploads-list .bu--upload .bu--upload-details .bu--upload-progress .bu--progressbar {
    display: block;
    background-color: #e9e7e8;
    width: 100%;
    height: 10px;
    margin: 6px 0px 0px 0px;
    border: none;
    border-radius: 5px;
    overflow: hidden;
}

.booklet-uploader.bu--panel.bu--panel-uploader .bu--uploads-list .bu--upload .bu--upload-details .bu--upload-progress .bu--progressbar .bu--progress {
    display: block;
    background-color: #d80e24;
    width: 0%;
    height: 100%;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
}

.booklet-uploader.bu--panel.bu--panel-uploader .bu--uploads-list .bu--upload .bu--upload-actions {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    margin: 0px;
    padding: 0px 10px;
}

.booklet-uploader.bu--panel.bu--panel-uploader .bu--uploads-list .bu--upload .bu--upload-actions .bu--upload-action-button {
    font-size: 26px;
    color: #a3a1a2;
    cursor: pointer;
    transition: color 0.2s;
}

.booklet-uploader.bu--panel.bu--panel-uploader .bu--uploads-list .bu--upload .bu--upload-actions .bu--upload-action-button:hover {
    color: #848484;
}

.booklet-uploader.bu--panel.bu--panel-uploader .bu--uploads-list .bu--upload .bu--upload-details .bu--upload-progress .bu--upload-error {
    font-size: 12px;
    line-height: 1.4em;
    color: #d80e24;
}

.booklet-uploader.bu--panel.bu--panel-uploader .bu--files-counter {
    display: block;
    width: 100%;
    height: 34px;
    flex: 0 0 34px;
    font-family: 'OpenSans Bold';
    text-align: center;
    color: #919191;
    padding: 10px 0px 0px 0px;
}



@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}


/*
 *    Editor
 */

.booklet-uploader.bu--panel.bu--panel-editor {

}

.booklet-uploader.bu--panel.bu--panel-editor .bu--editor-preview {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    position: relative;

    flex-grow: 1;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    -webkit-box-flex: 1;
    -webkit-flex-direction: row-reverse;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    -ms-flex-positive: 1;
    -webkit-flex-direction: row-reverse;
    -ms-flex-pack: center;
    -ms-flex-align: center;

    width: 100%;
}

.booklet-uploader.bu--panel.bu--panel-editor .bu--editor-preview img {
    max-width: 100%;
    transition: opacity 0.2s;
}


/* Editor actions */
.booklet-uploader.bu--panel .bkt-editor__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px -10px;
}

.booklet-uploader.bu--panel .bkt-editor__actions .bkt-editor__actions-group {
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
}

.booklet-uploader.bu--panel .bkt-editor__actions .bkt-editor__actions-group.bkt-editor__actions-group--aspect-ratio-selector {
    flex: 1 1 auto;
}

.booklet-uploader.bu--panel .bkt-editor__actions .bkt-editor__action {
    display: flex;
    cursor: pointer;
    padding: 0px 10px;
    transition: background-color 0.2s;
}

.booklet-uploader.bu--panel .bkt-editor__actions .bkt-editor__action.bkt-editor__action--active {
    color: #3399ff;
}

.booklet-uploader.bu--panel .bkt-editor__actions .bkt-editor__action.bkt-editor__action--rotate-left,
.booklet-uploader.bu--panel .bkt-editor__actions .bkt-editor__action.bkt-editor__action--rotate-right {
    flex: 0 0 auto;
    padding: 10px;
}


.booklet-uploader.bu--panel .bkt-editor__actions .bkt-editor__action.bkt-editor__action--change-aspect-ratio {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 20px 10px;
    cursor: pointer;
}

.booklet-uploader.bu--panel .bkt-editor__actions .bkt-editor__action.bkt-editor__action--change-aspect-ratio::after {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0px;
    content: attr(data-label);
    font-family: 'OpenSans Bold';
    font-size: 14px;
    text-align: center;
    color: #616161;
    transform: translateX(-50%);
}

.booklet-uploader.bu--panel .bkt-editor__actions .bkt-editor__action.bkt-editor__action--change-aspect-ratio.bkt-editor__action--active::after {
    color: inherit;
}


.booklet-uploader.bu--panel .bkt-editor__aspect-ratio-icon {
    display: block;
    width: 24px;
    height: 24px;
    border: 2px solid #616161;
}

.booklet-uploader.bu--panel .bkt-editor__actions .bkt-editor__action.bkt-editor__action--change-aspect-ratio.bkt-editor__action--active .bkt-editor__aspect-ratio-icon {
    border: 2px solid #3399ff;
}

/* Editor icons */
.booklet-uploader.bu--panel .bkt-editor__icon {
    display: inline-block;
    background-image: url('/assets/images/icons.svg');
    background-size: 1000px 1000px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.booklet-uploader.bu--panel .bkt-editor__icon.bkt-editor__icon--crop {
    background-position: 0px 0px;
}

.booklet-uploader.bu--panel .bkt-editor__icon.bkt-editor__icon--rotate {
    background-position: -32px 0px;
}

.booklet-uploader.bu--panel .bkt-editor__icon.bkt-editor__icon--rotate-left {
    background-position: -64px 0px;
}

.booklet-uploader.bu--panel .bkt-editor__icon.bkt-editor__icon--rotate-right {
    background-position: -96px 0px;
}

.booklet-uploader.bu--panel .bkt-editor__icon.bkt-editor__icon--mirror {
    background-position: -128px 0px;
}

.booklet-uploader.bu--panel .bkt-editor__icon.bkt-editor__icon--flip {
    background-position: -160px 0px;
}

.booklet-uploader.bu--panel .bkt-editor__icon.bkt-editor__icon--grayscale {
    background-position: -192px 0px;
}

.booklet-uploader.bu--panel .bkt-editor__icon.bkt-editor__icon--negative {
    background-position: -224px 0px;
}
