/*
 *    Buttons
 */

.booklet-uploader .bu--button {
    display: inline-block;
    background-color: transparent;
    width: 100%;
    max-width: 160px;
    font-family: 'OpenSans Bold';
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    color: #c1c1c1;
    margin: 0px 0px 0px 0px;
    padding: 15px;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.booklet-uploader .bu--button:hover {
    color: #a1a1a1;
    border: 1px solid #a1a1a1;
}

.booklet-uploader .bu--button.bu--button-primary {
    background-color: #d80e24;
    color: #ffffff;
    padding: 16px;
    border: none;
}

.booklet-uploader .bu--button.bu--button-primary:hover {
    background-color: #c00c21;
    color: #ffffff;
    border: none;
}

.booklet-uploader .bu--button.bu--button-outline {
    color: #d80e24;
    border: 1px solid #d80e24;
}

.booklet-uploader .bu--button.bu--button-outline:hover {
    color: #c00c21;
    border: 1px solid #c00c21;
}

.booklet-uploader .bu--button.bu--button-disabled {
    background-color: #cecece;
    color: #ffffff;
    margin: 0px 0px 0px 0px;
    padding: 16px;
    border: none;
    cursor: default;
}

.booklet-uploader .bu--button.bu--button-disabled:hover {
    background-color: #cecece;
    color: #ffffff;
    border: none;
}


.booklet-uploader .bu--button.bu--button-outline.bu--button-disabled,
.booklet-uploader .bu--button.bu--button-outline.bu--button-disabled:hover {
    color: #cecece;
    border: 1px solid #cecece;
    cursor: default;
}

/*
 *    Loader
 */

.booklet-uploader .bu--loader {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
}

.booklet-uploader .bu--loader:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border-top: 2px solid #D80E24;
    border-right: 2px solid transparent;
    animation: booklet-uploader-spinner .6s linear infinite;
}

.booklet-uploader .bu--loader.sm,
.booklet-uploader .bu--loader.bu--loader-size-sm {
    width: 30px;
    height: 30px;
}

.booklet-uploader .bu--loader.sm:before,
.booklet-uploader .bu--loader.bu--loader-size-sm::before {
    margin-top: -15px;
    margin-left: -15px;
    border-top: 3px solid #D80E24;
    border-right: 3px solid transparent;
}

.booklet-uploader .bu--loader.md,
.booklet-uploader .bu--loader.bu--loader-size-md {
    width: 40px;
    height: 40px;
}

.booklet-uploader .bu--loader.md:before,
.booklet-uploader .bu--loader.bu--loader-size-md::before {
    margin-top: -20px;
    margin-left: -20px;
    border-top: 3px solid #D80E24;
    border-right: 3px solid transparent;
}

.booklet-uploader .bu--loader.lg,
.booklet-uploader .bu--loader.bu--loader-size-lg {
    width: 60px;
    height: 60px;
}

.booklet-uploader .bu--loader.lg:before,
.booklet-uploader .bu--loader.bu--loader-size-lg::before {
    margin-top: -30px;
    margin-left: -30px;
    border-top: 4px solid #D80E24;
    border-right: 4px solid transparent;
}

.booklet-uploader .bu--loader.xl,
.booklet-uploader .bu--loader.bu--loader-size-xl {
    width: 100px;
    height: 100px;
}

.booklet-uploader .bu--loader.xl:before,
.booklet-uploader .bu--loader.bu--loader-size-xl::before {
    margin-top: -50px;
    margin-left: -50px;
    border-top: 6px solid #D80E24;
    border-right: 6px solid transparent;
}

@keyframes booklet-uploader-spinner {
    to { transform: rotate(360deg); }
}
