/*
 *    Editor
 */

.booklet-uploader.bu--panel.bu--panel-editor {

}

.booklet-uploader.bu--panel.bu--panel-editor .bu--editor-preview {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    position: relative;

    flex-grow: 1;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    -webkit-box-flex: 1;
    -webkit-flex-direction: row-reverse;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    -ms-flex-positive: 1;
    -webkit-flex-direction: row-reverse;
    -ms-flex-pack: center;
    -ms-flex-align: center;

    width: 100%;
}

.booklet-uploader.bu--panel.bu--panel-editor .bu--editor-preview .bu--preview-image {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.booklet-uploader.bu--panel.bu--panel-editor .bu--cropper-widget {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    position: relative;

    flex-grow: 1;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    -webkit-box-flex: 1;
    -webkit-flex-direction: row-reverse;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    -ms-flex-positive: 1;
    -webkit-flex-direction: row-reverse;
    -ms-flex-pack: center;
    -ms-flex-align: center;

    width: 100%;
    max-height: 100%;
}

.booklet-uploader.bu--panel.bu--panel-editor .bu--cropper-widget > img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.booklet-uploader.bu--panel .bu--effects {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px -10px;
}

.booklet-uploader.bu--panel .bu--effects .bu--effect-button {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0px 10px;
    cursor: pointer;
}

.booklet-uploader.bu--panel .bu--effects .bu--effect-button.bu--effect-crop {
    background: url('/assets/images/icons.svg') 0px 0px no-repeat;
}

.booklet-uploader.bu--panel .bu--effects .bu--effect-button.bu--effect-rotate {
    background: url('/assets/images/icons.svg') -32px 0px no-repeat;
}

.booklet-uploader.bu--panel .bu--effects .bu--effect-button.bu--effect-flip {
    background: url('/assets/images/icons.svg') -64px 0px no-repeat;
}

.booklet-uploader.bu--panel .bu--effects .bu--effect-button.bu--effect-mirror {
    background: url('/assets/images/icons.svg') -96px 0px no-repeat;
}

.booklet-uploader.bu--panel .bu--effects .bu--effect-button.bu--effect-grayscale {
    background: url('/assets/images/icons.svg') -128px 0px no-repeat;
}

.booklet-uploader.bu--panel .bu--effects .bu--effect-button.bu--effect-negative {
    background: url('/assets/images/icons.svg') -160px 0px no-repeat;
}



.booklet-uploader.bu--panel .bu--crop-sizes {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0px -10px;
}

.booklet-uploader.bu--panel .bu--crop-sizes .bu--crop-size-button {
    display: block;
    padding: 0px 10px;
    cursor: pointer;
}

.booklet-uploader.bu--panel .bu--crop-sizes .bu--crop-size-button::after {
    display: block;
    content: attr(data-label);
    font-family: 'OpenSans Bold';
    font-size: 14px;
    text-align: center;
    color: #616161;
}

.booklet-uploader.bu--panel .bu--crop-sizes .bu--crop-size-button .bu--crop-size-icon {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0px auto 4px auto;
    border: 2px solid #616161;
}

.booklet-uploader.bu--panel .bu--crop-sizes .bu--crop-size-button.active::after {
    color: #3399ff;
}

.booklet-uploader.bu--panel .bu--crop-sizes .bu--crop-size-button.active .bu--crop-size-icon {
    border: 2px solid #3399ff;
}
